PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/choice_grid
JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:5173

# Resend Email Settings
RESEND_API_KEY=re_123456789
EMAIL_FROM="Choice Grid <onboarding@resend.dev>"
